<% posts.each do |post| %>
  <div class="card p-3">
    <h4 class="mb-1"><%= link_to post.title, community_post_path(post.community_id, post) %></h4>

    <p><small>Posted in <%= link_to post.community.name, community_path(post.community) %> by
      <%= link_to post.account.username, profile_path(post.account.username) %>
      <%= time_ago_in_words post.created_at %> ago.</small></p>

    <p><%= truncate post.body, length: 200 %></p>
  </div>
<% end %>
