<% posts.each do |post| %>
  <div class="card p-3 mb-3">
    <div class="row">
      <div class="col-1 text-center">
        <% if account_signed_in? %>
          <div id="vote-actions-<%= post.id %>" class="vote" data-id="<%= post.id %>">
            <div class="fa fa-arrow-up upvote <%= is_upvoted post %>"></div>
            <span class="font-weight-bold score"><%= post.score %></span>
            <div class="fa fa-arrow-down downvote  <%= is_downvoted post %>"></div>
          </div>
        <% end %>
      </div>
      <div class="col-11">

        <h4 class="mb-1"><%= link_to post.title, community_post_path(post.community_id, post) %></h4>
        <p><small>Posted in <%= link_to post.community.name, community_path(post.community) %> by
          <%= link_to post.account.username, profile_path(post.account.username) %>
          <%= time_ago_in_words post.created_at %> ago.</small></p>
        <p><%= truncate post.body, length: 200 %></p>

      </div>
    </div>
  </div>
<% end %>
