<%= link_to "Create new post", new_community_post_path(@community), class: "btn btn-primary float-right" %>

<%= @community.name %>

<% @posts.each do |post| %>
  <h4><%= link_to post.title, community_post_path(@community, post) %></h4>
  <p><%= truncate post.body, length: 200 %></p>
<% end %>

<small>
  <%= simple_format @community.rules %>
</small>
