<div class="container">
  <div class="row">
    <div class="col-12 pt-3 pb-3">
      <div class="float-right">
        <% if account_signed_in? %>
          <div class="dropdown show">
            <a class="btn btn-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_account.username %>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to "Profile", "", class: "dropdown-item" %>
              <%= link_to "Settings", edit_account_registration_path, class: "dropdown-item" %>
              <%= link_to "Sign Out", destroy_account_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div>
        <% else %>
          <%= link_to "Log In", new_account_session_path, class: "btn btn-outline-primary" %>
          <%= link_to "Sign Up", new_account_registration_path, class: "btn btn-primary" %>
        <% end %>
      </div>
      <p class="h3"><%= link_to "idtdre", root_path %></p>
    </div>
  </div>
</div>
