<!DOCTYPE html>
<html>
  <head>
    <title>idtdre</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/header' %>

    <%= render 'layouts/notification', notification_type: alert %>

    <%= render 'layouts/notification', notification_type: notice %>

    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 pt-4">
            <%= yield %>
          </div>
        </div>
      </div>
    </section>

    <%= render partial: 'layouts/footer' %>
  </body>
</html>
